<nav class="sidebar">
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Sessions</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Settings</a>
        </li>
        <li class="nav-item">
            <a href="{% url "users:users_list" %}" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
            <a href="{% url "users:logout" %}" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>